header {
  background-color: #1e293b; /* ciemny odcień niebieskiego */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 10;
    display: flex;
    justify-content: flex-end;
}

nav li a {
  font-size: clamp(1.1rem, 2.5vw, 1.4rem); /* min, ideal, max */
  padding: clamp(12px, 2vw, 20px) clamp(20px, 3vw, 35px);
  font-weight: 500;
  color: #f59e0b;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav li a:hover {
  color: #ad22f7;          
}

@media (min-width: 1024px) {
  nav li a {
    font-weight: 600;
  }
  
}