.overlay {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 1200px;
  width: 85%;
  /*border: 3px solid brown;*/
}

.textContent {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
  gap: 0.5rem; 
  margin-left: 3rem;
}

.greeting {
  font-size: 2rem;
  color: #f59e0b;
  margin: 0;
  font-weight: 400;
}

.name {
  font-size: 3.5rem;
  font-weight: 700;
  margin: 0;
  color: #f8fafc;
  line-height: 1.1;
}

.title {
  font-size: 1.5rem;
  color: #cbd5e1;
  margin: 0.5rem 0;
  font-weight: 400;
}

.description {
  font-size: 1.1rem;
  color: #e2e8f0;
  max-width: 500px;
  line-height: 1.6;
  margin: 1rem 0;
}

.buttonContainer {
    margin-top: 1.5rem;
}

.contactBtn {
  background: #f59e0b;
  color: #fffefe;
  padding: 1rem 2rem;
  margin-right: 15px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
  transition: all 0.3s ease;
}

.contactBtn:hover {
  background-color: #ad22f7;
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.imageContent {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
  display: block;
  margin: 0 auto; /* wyśrodkowanie */
}
.imageContent:hover {
  transform: scale(1.05);
}



@media (max-width: 768px) {
  .overlay {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
  }
  .name {
    font-size: 3rem;
  }
  
  .title {
    font-size: 1.3rem;
  }
  
  .textContent {
    padding-left: 0;
  }
}